.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2.5em 0;
  background-color: #f7f9fd;
}

.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-width: 1300px;
  height: 100%;
}

.custom-carousel .react-multi-carousel-item {
  padding: 0 20px;
}

.custom-carousel {
  margin-top: 1.5em;
  width: 90%;
  position: relative;
  height: 265px;
}

.custom-dot-list-style button {
  border: none;
  display: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}
